* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Courier;
}

.masonry {
  background: #EEE;
  max-width: 1000px;
}

.masonry .item {
  width:  100px;
  height: 100px;
  float: left;
  background: #dddddd;
  border: 2px solid white;
}

.item.w2 { width:  150px; }
.item.w3 { width:  200px; }
.item.w4 { width:  250px; }
.item.w5 { width:  650px; }

.item.h2 { height: 120px; }
.item.h3 { height: 140px; }
.item.h4 { height: 180px; }
.item.h5 { height: 200px; }

#send:hover {
  background-color: grey;
}
