* {
  font-family: Courier;
}

h1 {
  color: DarkGrey;
  font-style: normal;
}

h2 {
  color: DarkGrey;
  font-style : italic;
}

.bouton {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #a1a1a1;
  background: #dddddd;
  text-align:center;
  font-size: 200%;
  line-height: 100px;
}

#send:hover {
  background-color: grey;
}

#container {
}

#message_id {
  border: 2px solid #a1a1a1;
  padding: 10px; 
  background: #dddddd;
  width: 530px;
  border-radius: 5px;
  font-size: 200%;
  margin: 10px;
}

#presence {
}

#temperature {
}

#halleffect {
}

#send {
}
