h1 {
  color: white;
  margin-left: 20px;
  font-style: normal;
  font-family: Courier;
}

h2 {
  color: white;
  margin-left: 20px;
  font-style : italic;
  font-family: Courier;
}

#container {
  width: 600px;
  height: 200px;
  background-color: SaddleBrown;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#message_id {
  border: 2px solid #a1a1a1;
  padding: 10px 40px; 
  background: #dddddd;
  width: 300px;
  border-radius: 25px;
  margin-left: 20px;
}

#logo {
}

